# macOS
**/.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# tar file.
*.tar.gz

# Prevent accidental node_modules installed at root.
node_modules/
package.json
yarn.lock
package-json.lock

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# binaries
asynqmon
api
dist/

# Editor configs
.idea/
.vscode/
.editorconfig

# examples
examples/